r.footer
    .footer__row
        .footer__nav
            nav.main-nav
                ul.main-nav__list
                    li.main-nav__item
                        a.main-nav__link(href="works")
                            span.text-link Мои работы
                    li.main-nav__item
                        a.main-nav__link(href="about")
                            span.text-link Обо мне
                    li.main-nav__item
                        a.main-nav__link(href="blog")
                            span.text-link Блог
                    li.main-nav__item
                        a.main-nav__link(href="/#auth")
                            span.text-link Авторизация
        .footer__social
            .social.social_footer
                ul.social__list
                    li.social__item
                        a.social__link(href="https://vk.com/sashko_khr" target="_blank")
                            svg.social__svg
                                use(xlink:href="img/sprite.svg#icon-vk_round")
                    li.social__item
                        a.social__link(href="https://github.com/KhromovAlex" target="_blank")
                            svg.social__svg
                                use(xlink:href="img/sprite.svg#icon-github_round")
                    li.social__item
                        a.social__link(href="https://www.instagram.com/" target="_blank")
                            svg.social__svg
                                use(xlink:href="img/sprite.svg#icon-in_round")
    .footer__row
        .footer__about
            .footer__about-text.
                Я веб-разработчик из Осинников, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .footer__copyright
            .copyright.
                © Александр Хромов | 2017
