.full-screen-menu
    nav.main-nav
        ul.main-nav__list
            li.main-nav__item
                a.main-nav__link(href="works")
                    span.text-link_full-screen Мои работы
            li.main-nav__item
                a.main-nav__link(href="about")
                    span.text-link_full-screen Обо мне
            li.main-nav__item
                a.main-nav__link(href="blog")
                    span.text-link_full-screen Блог
            li.main-nav__item
                a.main-nav__link(href="/#auth")
                    span.text-link_full-screen Авторизация